*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  align-content: center;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.deck {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 0.5rem;
  color: white;
  user-select: none;
}

.computer-deck {
  height: 120px;
  width: 100px;
  background-color: green;
}

.buttonContainer {
  flex: 1;
  display: flex;
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
}
.button {
  flex: 1;

  font-size: 30px;
  font-weight: bold;

  align-items: center;
}

.card {
  position: relative;
  height: 120px;
  width: 100px;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: white;
  margin: 2px;
}
.buttonDrop {
  display: none;
}

.card-container {
  display: flex;

  flex: 1;
  flex-direction: row;
  margin: 8px;
  align-content: center;
  justify-content: center;
}

.player-card-combinations-title {
  flex: 1;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: 0.5rem;
  left: 0.5rem;
}

.card::after {
  bottom: 0.5rem;
  right: 0.5rem;
  transform: rotate(180deg);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;
  color: #ecf0f1;
  font-family: sans-serif;
  line-height: 1.4;
}
body a {
  display: inline-block;
  color: #ecf0f1;
}

.button {
  margin: 0 auto 20px;
  width: 200px;
  border-radius: 3px;
  text-align: center;
  clear: both;
  padding: 10px;
  background-color: rgba(236, 240, 241, 0.3);
  cursor: pointer;
}

.screen {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.screen-intro {
  opacity: 1;
  visibility: visible;
}

.active-screen {
  display: block;
}
.home-button {
  position: absolute;

  top: 50px;
  left: 50px;
}
.save-score-button {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: small;
  width: 100px;
}

@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: 0.5em;
}
.rwd-table td:last-child {
  padding-bottom: 0.5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th,
.rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table {
  background: #34495e;
  color: #fff;
  border-radius: 0.4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th,
.rwd-table td {
  margin: 0.5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th,
.rwd-table td:before {
  color: #dd5;
}
